.intro {
  display: flex;
  height: 100vh;
  background-color: #eeeeee;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  margin: 0;
  background-image: url("https://res.cloudinary.com/dtkdsolsz/image/upload/v1640492717/blob_iegjzq.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  position: relative;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 3rem;
  font-weight: 300;
}

.i-name {
  font-size: 6rem;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-description {
  font-size: 1.5rem;
  text-align: justify;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #9d84b7;
  display: flex;
  align-items: center;
}

.i-img {
  object-fit: cover;
  position: absolute;
  margin-top: 80px;
  margin-left: 100px;
  width: 70%;
}

@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-75px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 720px) {
  .intro {
    flex-direction: column;
  }

  .i-intro {
    text-align: start;
    font-size: 52px;
  }

  .i-name {
    font-size: 52px;
    text-align: start;
  }

  .i-description {
    margin: 20px;
  }

  .i-title {
    margin: 20px;
    align-items: center;
  }

  .i-left-wrapper {
    padding: 10px;
    height: 100%;
  }

  .i-right {
      display: none;
  }
}
