.footer {
    background-color: #B983FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 70px;
}